{% extends 'TourPackages/Base.html' %}
{% block content %}


<section class="header">

<div class="text-center text-white" style="left: 50%; margin-top: 10%; display: block;">
    <div>
        <h1 style="font-size: 60px;">Travel India</h1>
    <h6>it's time for New Adventures, Experiences, Thrills and Escapes</h6><br>
    <a href="{% url 'Package_URL' %}" class="btn btn-outline-secondary text-white mt-3" style="font-size: 25px; border-color: white;">Enter Into Travel India</a>
    </div>
    
</div>
</section>



{% endblock content %}