{% extends 'TourPackages/Base.html' %}

{% block content %}

<style>

	thead {
		background: linear-gradient(45deg, #d1cde4, #dcec91);
        border: 2.5px solid white;
	}
    tbody{
        background: linear-gradient(45deg,#dcec91, #d1cde4);   
    }
	
  
</style>


<div class="ml-5 mr-5">
    <form method="get" action="#">    
        <h4 class="mb-4" style="text-align: center; color: white;">
            My Vehicle Requests
        </h4>
    <table class="table table-hover table-striped">       
        <thead class="">
            <tr>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Vehicle Required Date</th>
                <th scope="col">No of Days</th>
                <th scope="col">Driving license</th>
                <th scope="col">Address</th>
                <th scope="col">Advance Paid</th>
                <th scope="col">Amount Payable</th>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                
                
                
            </tr>
        </thead>
        <tbody>
            
        {% for request in requests %}
        <tr>
            <td>{{ request.veh_type }}</td>
            <td>{{ request.vehicle_req_date.date }}</td>
            <td>{{ request.no_of_days_req }}</td>
            <td><a href="{{ request.driving_license.url }}" target="_blank">Driving License</a></td>
            <td>{{ request.address }}</td>
            <td>{{ request.advance_paid }}</td>
            <td>{{ request.Amount_payable }}</td>
            {% if request.req_Status == 'Requested' %}
                <td class="bg-warning">{{ request.req_Status }} </td>
            {% elif request.req_Status == 'Approved' %}
                <td class="bg-success">{{ request.req_Status }}</td>
            {% elif request.req_Status == 'Rejected' %}
                <td class="bg-danger">{{ request.req_Status }}</td>
            {% endif %}
            <td>{{ request.remarks }}</td>
          </tr>
        
        {% empty %}
        <tr>
            <td align="center" colspan="9" class="text-white" >No Entries</td>
        </tr>
        
        {% endfor %}-->
        </tbody>
        </table>
    </form>

</div>




{% endblock content %}