{% extends 'TourPackages/Base.html' %}

{% block content %}

<style>

	thead {
		background: linear-gradient(45deg, #d1cde4, #dcec91);
        border: 2.5px solid white;
	}
    tbody{
        background: linear-gradient(45deg,#dcec91, #d1cde4);   
    }
	
  
</style>


<div class="ml-5 mr-5">
    <form method="get" action="#">    
        <h4 class="mb-4" style="text-align: center; color: white;">
            My Trip Details
        </h4>
    <table class="table table-hover table-striped">       
        <thead class="">
            <tr>
                <th scope="col">Trip to</th>
                <th scope="col">Applied Date</th>
                <th scope="col">Trip Date</th>
                <th scope="col">With Transport</th>
                <th scope="col">No of Members</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Pay</th>
                
            </tr>
        </thead>
        <tbody>
            
        {% for request in requests %}
        <tr>
            <td scope="row"> {{ request.Applied_For.Trip_For.PlaceName }} </td>
            <td>{{ request.Date_Applied.date }}</td>
            <td>{{ request.Applied_For.Trip_Start_Date }}</td>
            <td>{{ request.Transport_Opted }}</td>
            <td>{{ request.No_of_Seats_Applied }}</td>
            <td>{{ request.Amount }}</td>
            {% if request.Payment_Status == 'Pending' %}
                <td class="bg-warning">{{ request.Payment_Status }}</td>
            {% elif request.Payment_Status == 'Completed' %}
                <td class="bg-success">{{ request.Payment_Status }}</td>
            {% endif %}
            
            <td>
                {% if request.Payment_Status == "Pending" %}
                    <a class="btn btn-outline-primary" href="#">Pay</a>
                {% endif %}
            </td>
          </tr>
        
        {% empty %}
        <tr>
            <td align="center" colspan="7" class="text-white" >No Entries</td>
        </tr>
        
        {% endfor %}-->
        </tbody>
        </table>
    </form>

</div>




{% endblock content %}