{% extends 'TourPackages\Base.html' %}
{% block content %}

<script type="text/javascript">
	function validate()
	{
		var dtCurrent = new Date();
	    var dob = document.getElementById("birthday");
	    dobvalue = dob.value;
	    var partdob = dobvalue.split("-")[0];
        
	    if ((dtCurrent.getFullYear() - partdob) < 18)
	    {
	    	alert("Invalid Date of bith, Age should not be less than 18 years");
	    	dob.value="";
	    }

	    else if ( (dtCurrent.getFullYear() - partdob ) > 60)
	    {
	    	alert("Invalid Date of birth, Your age is more than 60 years so you cannot register");
	    	dob.value="";
	    }
    
	}

</script>

<form method="POST" enctype="multipart/form-data" >
{% csrf_token %}
	<div class="container mt-4 mb-5 col-md-5">
		<div class="card">
			<div class="card-header">
				<h5 class="">User Registration</h5>
			</div>
			<div class="card-body">
				<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-user-alt"></i></span>
					</div>
					
						<input type="text" class="form-control" name="fname" minlength="5" maxlength="20" placeholder="First Name" required>
						<input type="text" class="form-control" name="lname" minlength="1" maxlength="20" placeholder="Last Name" required>
				</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope-open"></i></span>
						</div>
						
						<input type="email" minlength="10" class="form-control" name="email" placeholder="Email ID" required>

					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-phone"></i></span>
						</div>
						
						<input type="tel" class="form-control" name="cnumber" minlength="10" maxlength="10" placeholder="Contact Number (10-digits)" pattern="[0-9]{10}" title="Must contain 10 digits, Only digits are allowed" required>
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						
						<input type="password" class="form-control" id="password" name="password" minlength="8" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Create Password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>

					</div>

          			<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-id-card"></i></span>
						</div>
						
						<input type="tel" class="form-control" name="aadhar_number" minlength="12" maxlength="12" placeholder="Aadhar Number" pattern="[0-9]{12}" title="Must contain 12 digits, Only digits are allowed" required>
					</div>

			

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-calendar-alt mr-2"></i> Date of Birth</span>
						</div>
						
						<input type="date" class="form-control" onchange ="validate()" id="birthday" name="birthday" required>	

					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-address-card"></i></span>
						</div>
						
						<textarea type="text" class="form-control" minlength="10" maxlength="70" placeholder="Address" name="address" required ></textarea>
					</div>



			</div>
			<div class="card-footer">
				<input type="submit" class="btn btn-primary"  value="Submit" name="submit">
				<small class="ml-3 mr-2"> Already have an account?</small><a href="{% url 'Login_URL' %}">Login</a><br>

			</div>
		
			
		</div>
		
		
	</div>
</form>
{% endblock content %}